#body_02 {
  background: #000000fd;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.tudo {
  margin-top: 10%;
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.quem {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "titulo-01";
}
.logotipo {
  font-family: "titulo-01";
  color: rgb(0, 116, 184);
  font-size: 15px;
}
.me,
.me-01,
.me-02 {
  width: 900px;
  margin: 20px;
  font-family: sans-serif;
  color: #fffffffd;
}
.descricao-me {
  margin-top: 3%;
}
/* .btn-mais,
.ver {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: monospace;
}
.btn-mais {
  margin-top: 5%;
  padding: 10px 19px;
  border: 1px solid rgb(0, 116, 184);
  border-radius: 30px;
} */

@media (max-width: 900px) {
  .me,
  .me-01,
  .me-02 {
    font-size: 15px;
    width: 300px;
  }
  .quem {
    font-size: 2rem;
  }
}
