#footer {
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}
.name_org {
  font-family: "titulo-01";
  color: #fffffffd;
  font-size: 1.7rem;
}
.name_descricao_org {
  width: 600px;
  font-size: 17px;
  font-family: sans-serif;
  text-align: center;
  color: #fffffffd;
  margin-top: 15px;
}
.icons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.icons a img {
  width: 40px;
}
.direito_reservado {
  margin-top: 30px;
}
.direito_reservado p {
  color: rgb(0, 116, 184);
  font-size: 19px;
  font-family: sans-serif;
}
.icons a {
  margin: 10px;
}
@media (max-width: 900px) {
  .direito_reservado p {
    color: rgb(0, 116, 184);
    font-size: 15px;
    width: 300px;
    font-family: sans-serif;
  }
  .name_descricao_org {
    width: 300px;
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
    color: #fffffffd;
    margin-top: 15px;
  }
}
