@font-face {
  font-family: "titulo";
  src: url("../fonts/GreatVibes-Regular.ttf");
}
@font-face {
  font-family: "titulo-01";
  src: url("../fonts/Oswald-Bold.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  scroll-behavior: smooth;
  transition: 0.9s ease-in-out;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  display: flex;
  flex-direction: column;
}
